.header {
  &__title {
    height: 63px;
    box-shadow: 0 2px 4px 3px #00000026;

    &__home-icon {
      font-size: 20px;
      position: absolute;
      top: 20px;
      left: 25px;
    }

    &__logo {
      width: 162px;
    }
  }

  &__location {
    background-color: #EAEAEA;
    text-align: center;

    &__input {
      background-color: #EAEAEA;
      padding: 15px 0;
      text-align: center;
      width: 35%;
      font-weight: 500;
    }
  }
}

@include large {
  .header__location__input {
    width: 10%;
  }
}