*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

ul {
  list-style: none;
}

input {
  outline: none;
  border: none;
}

img {
  object-fit: cover;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  padding-inline: 17.5px;
}

.container {
  padding-inline: 10px;
}

.section-title {
  margin: 30px 0;
}

@include large {
  body {
    margin-inline: auto;
  }

  .main-container {
    padding-inline: 20px;
  }
}