@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');

body {
  font-family: "Roboto", sans-serif, "Shrikhand", serif;
}

.title_shrikhand {
  font-family: "Shrikhand", serif;
}

.second-title {
  font-size: 1.5rem;
}

.tertiary-title {
  font-size: 1.125rem;
}

.small-text {
  font-size: .94rem;
}



