.restaurant-img {
  height: 275px;
  width: 100%;
}

.restaurant {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: $bg-secondary;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -55px;
    background-color: $bg-secondary;
    padding: 30px 17.5px;
    border-radius: 30px;

    &__text {
      font-size: 28px;
    }

    &__icon {
      font-size: 20px;
    }
  }

  &__dish-box {
    &__title {
      font-weight: 300;
    }

    &__line {
      border: 2px solid #99E2D0;
      margin-bottom: 12px;
      margin-top: 1px;
      width: 40px;
    }

    &__article {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      background-color: #fff;
      border-radius: 15px;
      box-shadow: 0 4.011494159698486px 15.043103218078613px 0 #0000001A;
      margin-bottom: 10px;
      cursor: pointer;

      &__description {
        padding: 15px;
        overflow: hidden;

        &__text {
          margin-top: 5px;
          font-weight: 300;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        &__name {
          font-weight: 500;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      &__price {
        font-weight: 700;
        padding: 15px;
      }

      &__checkbox {
        padding: 15px;
        height: 75px;
        width: 59px;
        border-radius: 0 15px 15px 0;
        color: #fff;
        background-color: $tertiary-color;
        display: none;

        &__icon {
          font-size: 1.3rem;
          display: none;
        }
      }
    }
  }

  &__btn {
    width: 186px;
    margin: 20px auto 40px;
    font-weight: 600;
  }
}